* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #1f1f1f;
    color: #fff;
    font-family: sans-serif;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .header img {
    height: 40px;
    margin-right: 10px;
  }
  
  .card {
    border-radius: 5px;
    background-color: #222;
    margin-bottom: 20px;
  }
  
  .card-header {
    padding: 10px;
    background-color: #333;
    border-bottom: 1px solid #444;
    font-size: 20px;
  }
  
  .card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  input[type="file"],
  input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: #fff;
    margin-right: 10px;
  }
  
  button {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #23c1ff;
    color: #000;
    font-weight: bold;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #23c1ff;
  }
  
  input:focus,
  button:focus {
    outline: none;
  }
  